<header>
  <nav>
    <span class="nav-icon">&#9776;</span>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/resume">Resume</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/articles">Articles</a></li>
    </ul>
  </nav>
</header>
