<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/CSS/style.css">
</head>
<body>
  <%- include('partials/navbar') %>

  <div class="home-container">
    <h1>Welcome to My Portfolio</h1>
    <p>
      Hello! My name is Hillary Forget, and I'm a web developer. I have experience in various programming languages and frameworks. Feel free to explore my portfolio to learn more about my work.
    </p>
    <p>
      If you'd like to get in touch, please <a href="hillary@gmail.com">email me</a> or connect with me on <a href="https://www.linkedin.com/in/hillary-forget-648062259/" target="_blank">LinkedIn</a>.
    </p>
  </div>
  <script src="/js/main.js"></script>
</body>
</html>
